{% extends 'base.html' %}

{% block title %}Available Resources{% endblock %}

{% block content %}

<div class="chat-container">
    <h1>Ресурсы, доступные {{ employee.username }}</h1>
    <div class="tasks-container">
        {% if resources %}
            <ul>
                {% for resource in resources %}
                    <li>
                        <strong>{{ resource.resource_name }}</strong> - {{ resource.resource_type.resource_type }}.
                        <a class="profile-link" href="{% url 'download_resource' resource.id %}">Скачать</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <ul>
                <li>
                    <strong>Нет доступных ресурсов.</strong>
                </li>
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}