{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href=“https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap” rel=“stylesheet”>
</head>
<body class="auth-page">
    <form method="post" action="{% url 'login' %}" class="authentication-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error">
                    {{ form.username.errors.as_text }}
                </div>
            {% endif %}
        </div>
        <div>
            {{ form.password.label_tag }}
            {{ form.password }}
            {% if form.password.errors %}
                <div class="error">
                    {{ form.password.errors.as_text }}
                </div>
            {% endif %}
        </div>
        <button type="submit">Войти</button>
    </form>
</body>
</html>
