{% extends 'base.html' %}

{% block title %}Profile Page{% endblock %}

{% block content %}

<div class="chat-container">
    <h1>Профиль</h1>
    <div class="tasks-container">
        <ul>
            <li>
                <strong>Логин:</strong> {{ employee.username }}
            </li>
        </ul>
        <ul>
            <li>
                <strong>ФИО:</strong>
                {% if employee.first_name %}
                        {{ employee.last_name }} {{ employee.first_name }}
                            {% if employee.patronymic %}
                                {{ employee.patronymic }}
                            {% endif %}
                {% else %}
                    Нет данных.
                {% endif %}
            </li>
        </ul>
        <ul>
            <li>
                <strong>Возраст:</strong>
                {% if employee.age %}
                        {{ employee.age }}
                {% else %}
                    Нет данных.
                {% endif %}
            </li>
        </ul>
        <ul>
            <li>
                <strong>Телефон:</strong>
                {% if employee.phone %}
                        {{ employee.phone }}
                {% else %}
                    Нет данных.
                {% endif %}
            </li>
        </ul>
        <ul>
            <li>
                <strong>Должность:</strong>
                {% if employee.position %}
                    <a class="profile-link" href="{% url 'resources_list' employee_id=user.id %}">
                        {{ employee.position }}
                    </a>
                {% else %}
                    Нет данных.
                {% endif %}
            </li>
        </ul>
        <ul>
            <li>
                <strong>Отдел:</strong>
                {% if employee.position %}
                    <a class="profile-link" href="{% url 'department:department_info' department_id=employee.department.id %}">
                        {{ employee.department.department_name }}
                    </a>
                {% else %}
                    Нет данных.
                {% endif %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}